<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetUp</title>
     <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/assets/css/blk-design-system.css?v=1.0.0" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project
    <link href="./assets/demo/demo.css" rel="stylesheet" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <% if (name) { %>
      <script>
         var user_name = "<%= name %>";   
         console.log("name: " + user_name) 
         var my_rooms = []
         var rooms = "<%= rooms %>";     
         my_rooms = rooms.split(',')   
      </script>
    <% } %>
    <script src = "/user.js"></script>
</head>
<body>
    <body class="index-page">
             <!-- Navbar -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
            <div class="container">
              <div class="navbar-translate">
                <a class="navbar-brand" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank" style = "color: #ffffff;">
                  <span>MeetUp</span> Meetings anytime
                </a>
              </div>
              <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <div class="navbar-collapse-header">
                  <div class="row">
                    <div class="col-6 collapse-brand">
                      <a>
                        MeetUp
                      </a>
                    </div>
                    <div class="col-6 collapse-close text-right">
                      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="tim-icons icon-simple-remove"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <form action="/logout?_method=DELETE" method="POST" style="float: right;">
              <button type="submit" class = "btn">Log Out</button>
            </form>
          </nav>
          <!-- End Navbar -->
          <div class="wrapper">
            <div class="page-header header-filter">
              <div class="squares square1"></div>
              <div class="squares square2"></div>
              <div class="squares square3"></div>
              <div class="squares square4"></div>
              <div class="squares square5"></div>
              <div class="squares square6"></div>
              <div class="squares square7"></div>
                <div class="container">
                  <div class = "side_bar">
                    <div class = "teams">
                      <h3>My teams</h3>
                      <ul class="list_teams">

                      </ul>
                    </div>
                    </div>
                    <div class="content-center brand">
                    <h1 class="h1-seo">MeetUp</h1>
                    <h3>Meetings, anywhere anytime :)</h3>
                    <h4>Hi <%= name %>!</h4>
                    <div class = "join_create_meeting side_by_side_form">
                      <form>
                        <input type="text" class="form-control" id = "meeting_link" placeholder="Enter Meeting link ..">
                        <br>
                        <button type="submit" class="btn btn-primary" onclick = "check_link_validity();">Join Meeting</button>
                        <button type="submit" class="btn btn-primary" onclick = "create_meeting();">Create Meeting</button>
                        <br>
                      </form>
                      </div>
                      <div class = "join_create_chatroom side_by_side_form">
                        <form>
                          <input type="text" class="form-control" id = "room_id" placeholder="Enter Team url ..">
                          <br>
                          <button type="submit" class="btn btn-primary" onclick = "check_room_link_validity();">Join Team</button>
                          <!-- <br> -->
                          <button type="submit" class="btn btn-primary" onclick = "create_room();">Create Team</button>
                          <br>
                          <!-- <button onclick = "now_what()">Has the var been updates?</button> -->
                        </form>
                      </div>
                    
                </div>
            </div>
        </div>
    <br>
    <br>
    <br>
    <br>      
    
    <script src = "/js/index.js"></script>
</body>
</html>