<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src = "/user.js"></script>
</head>
<body>
    <div class = "join_create_meeting">
        <input type="text" id = "meeting_link" placeholder="Enter Meeting link ..">
        <br>
        <input type="text" id = "Username" placeholder="Enter Username">
        <br>
        <button onclick = "check_link_validity(); update_user_name()">Join Meeting</button>
        <br>
        <button onclick = "create_meeting(); update_user_name()">Create Meeting</button>
        <br>
        <button onclick = "now_what()">Has the var been updates?</button>
    </div>
    <script src = "demo.js"></script>
    <script src = "index.js"></script>
</body>
</html>