<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class = "join_meeting">
        <input type="text" placeholder="Enter Meeting link ..">
    </div>
    <a href = "#" id = "meeting_link" onclick = "confirm_meet_join()">Join Meeting</a>
    <a href = "/video_call"> create meeting</a>
    <script src = "demo.js"></script>
    <script src = "index.js"></script>
</body>
</html>